
# Ignore all files by default, but scan all directories
*
!*/


# Script files
!*.bat
!*.sh
!*.pl
!*.py
!*.cmd
!*.xml

# Text files
!*.txt
!*.md

# Specific Houdini Files
!*.hip
!*.otl
!*.hda

# Other configuration and markup files
!*.ini

# Specific names
!README
!AUTHORS
!LICENSE
!FAQ
!VERSION
!ChangeLog

# Ignore Specific File Types
*.pyc
*.DS_Store


# Not ignore this file change
!*.gitignore
